body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100%;
  }
  
  .left-panel,
  .right-panel {
    width: 30%;
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    align-items: center;
    display: flex;
    justify-content: center;
  }

 
  
  .middle-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f0f0f0; 
  }
  
  .dialog-box {
    width: 70%;
    height: 40%;
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: x-small;
  }
  
  
  /* Barras de colores */
  .top-bar,
  .bottom-bar {
    height: 60px;
    background-color: #222; 
    width: 100%;
    position: absolute;
  }
  
  .top-bar {
    top: 0;
  }
  
  .bottom-bar {
    bottom: 0;
  }

  .top-bar2,
  .bottom-bar2 {
    height: 60px;
    background-color: #222; 
    width: 100%;
    position: absolute;
  }
  
  .top-bar2 {
    top: 0;
  }
  
  .bottom-bar2 {
    bottom: 0;
  }
  